.root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  text-align: center;
  perspective: 1000px;
  padding: 40px 70px;
  background-color: lavender;
  width: 100%;
  min-height: 400px;
}

.form {
  margin: 24px;
  justify-content: space-around;
}