.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: 33%;
}
.card {
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  perspective: 200vw;
  height: 33px;
  width: 170px;
  margin-right: 2vw;
  margin-bottom: 4vw;



  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 13vw;
  height: 4vw;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;

}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-top: 1vw;
  border: darkgray;
  border-style: solid;
  border-radius: 15px;


  word-break: break-all;
  font-size: 1.5vw;
  text-align: center;




}
.isRemembered {
  .cardFront,
  .cardBack {
    text-decoration: line-through;
  }
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateY(180deg);
}

.icons {
  position: relative;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 10px;
  width: 100%;
  height: 1vw;
  justify-content: space-around;

  &:hover {
    color: #1BB95E;
  }

}
